$blue        :#0095DA;
$darkblue    :#3B4C60;
$green       :#7BB652;
$pink        :#FF7373;


$SegLight    :"Segoe UI Light", "Helvetica Neue", "Helvetica", Helvetica, Calibri, sans-serif;
$CalLight    :"Caliblri Light", "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
