@import "variables";
@import "settings";
@import "foundation";
@import "responsive-tables";
@import "ng-animate";
//temp class *********************
.red { border: 1px solid red;}

.red-color { color: red; }

.black {
    background: #777;
    color: white;
    & h5 {
        color: white;
    }
}

//common ***********************************
.bold {font-weight: 600;}
.m0 { margin: 0;}
.p0 {padding: 0;}
.pad {padding: 2rem;}
.pad5 {padding: 5px;}
.pad-l {padding-left: 1rem;}
.rel {position: relative;}
.no-float { float: none; }
.italic {font-family: $SegLight; font-style: italic;}

//.grid-container {max-width: rem-calc(1024); margin: 0 auto;}
//body { background: #aaa;}
.bg-green { background: $green; }
.bg-green1 { background: rgba($green, .5); }
.bg-blue { background: $blue; }
.bg-blue1 { background:  rgba($blue, .5); }
.bg-darkblue { background: $darkblue; }
.mr-20 { margin-right: 20px; }
.ml-20 { margin-left: 20px; }
.mt-10 {margin-top: 10px; }
.bottom { align-self: flex-end; }
.grid-content .grid-block {
    margin-left: 0;
    margin-right: 0;
}

.medium-size,
.medium-size p {
    font-size: 0.9rem;
}

.important {
    color: darkred;
}
.pointer {cursor: pointer;}

.prev,
.next {
    position: absolute;
    top: 50%;
    font-size: 5rem;
    opacity: 0.2;
    padding: 1rem;
    cursor: pointer;
    &:hover {
        background: #eee;
        opacity: 1;
    }
}

.prev {
     @include breakpoint(medium down){
        display: none;
    }
    @include breakpoint(medium up){
        left:-10px;
    }
    @include breakpoint(large up){
    left: -50px;
    }

}

.next {
    @include breakpoint(medium down){
        display: none;
    }
    @include breakpoint(medium up){
        right:-10px;
    }
    @include breakpoint(large up){
    right: -50px;
    }

}


//button *****************************
.decision {
    display: block;
    background: #ccc;
    width: 100%;
    color: #333;
    padding: 0.6rem 1rem;
    text-align: center;
    font-size: .9rem;
    margin-bottom: 5px;
    &.more {
        background: transparent;
        font-size: 2rem;
        line-height: 1rem;
        &:hover {
            background: #eee;
        }
    }
    &:hover {
        color: black;
        background: scale-color($button-background, $lightness: -10%);
    }
    @include breakpoint (medium down) {
        padding: 1rem;
        font-size: rem-calc(22);
    }
}


.task .button.primary, .task .decision.primary {
    background: $green;
    color: white;
    &:hover {
        background: scale-color($green, $lightness: -10%);
    }
}

.doc .button.primary, .doc .decision.primary {
    background: $blue;
    color: white;
    &:hover {
        background: scale-color($blue, $lightness: -10%);
    }
}

.close-button {
    font-family: 'sans-serif';
    padding: 3px;
    color: #aaa;
    &:hover {
        color: white;
        background: #FF7373;
    }
}

a.dotted {
    border-bottom: 1px dotted #00558b;
}

//footer *****************************************************
footer {
    background-color: #ccc;
    font-size: rem-calc(13);
    & .grid-block {
        padding: rem-calc(5);
    }
}

//header *****************************************************
.header {
    height: rem-calc(65);
    color: white;
    & a {
        color: white;
    }
}

.main-nav {
    & a {
        color: white;
    }
}

.main-nav {
    font-family: $SegLight;
    font-size: rem-calc(27);
    line-height: rem-calc(65);
    margin-left: 20px;
    & a {
        color: white;
        padding: 15px;
        &:hover {
            background: rgba(black, 0.2);
        }
    }
    & img {
        margin-bottom: 35px;
    }
    span {
//        @include breakpoint(medium down) {display: none;}
    }
    @include breakpoint(medium down) {
        font-size: rem-calc(22);
    }
}

.doc .header {
    background: $blue url(../../img/shad-b.png) no-repeat top left;
}

.task .header {
    background: $green url(../../img/shad-g.png) no-repeat top left;
}

.folder .header {
    background: $darkblue url(../../img/shad-d.png) no-repeat top left;
}
.welcome .header {
    background: $darkblue url(../../img/shad-d.png) no-repeat top left;
}

input.search {
    position: absolute;
    top: 3px;
    right: 52px;
    background: rgba(white, 0.5);
    height: 32px;
    width: 86%;
    border: none;
    margin-top: 15px;
    color: black;
    transition: all 300ms ease;
    overflow: hidden;
}

input.search.ng-hide {
    width: 0;
}

.search::-webkit-input-placeholder {
    color: white;
    font-family: "Segoe UI Light";
}

//small-bar with add button and filters *************************
.small-bar {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 42px;
    font-family: $SegLight;
    img {
        opacity: .4; margin-top: 5px;
        &.active {opacity: 1;}
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
.small-bar .active img {opacity: 1;}
.add {
    background: rgba(black,.2);
    img {margin-top:0;}
}
.small-bar li {
    color: white;
    float: left;
    line-height: 42px;
    & a {
        color: white;
        padding: 10px 20px;
    }
}

.doc .small-bar li a:hover {
    background-color: darken($blue, 20%);
}

.task .small-bar li a:hover {
    background-color: darken($green, 20%);
}

.folder .small-bar li a:hover {
    background-color: darken($darkblue, 20%);
}

.doc .small-bar {
    background-color: darken($blue, 7%);
}

.task .small-bar {
    background-color: darken($green, 7%);
}

.folder .small-bar {
    background-color: darken($darkblue, 7%);
}



//off-canvas *******************************
#off-canvas-menu {
    font-family: Segoe UI;
}

.back {
    background: rgba(black, 0.3);
}

.side-links {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        border-bottom: 1px solid rgba(black, .3);
        padding-left: 1rem;
        &:hover{
        background: rgba(white, .1);
        }
        a {
            color: white;
            display: block;
            padding: .8rem 0;
        }
    }
}




//accordion *********************************************
.accordion-content {
    padding-top: 0;
}

.with-chevron .accordion-title {
    color: black;
    padding-left: 40px;
    background: url(../../img/folder-dark.png) no-repeat;
    background-position: 1rem center;
}

.accordion-title {
    text-transform: uppercase;
}



.bg-green li,
.bg-blue li,
.bg-darkblue li {
    background: rgba(white, 0.5);
}

.detached .block-list li {
    border-bottom: 1px solid rgba(black, 0.2);
    position: relative;
    a {
        color: white;
        &:hover {
            background: rgba(white, .1);
            color: white;
        }
    }
}

.block-list li:first-child {
    border-top: 1px solid rgba(black, 0.2);
}
.block-list li.with-chevron::after {
    top: 20px;
}
.block-list li .badge {
    position: absolute;
    top:10px;
    right: 10px;
    padding: 0;
    padding-top: 5px;
    text-align: center;
    color: white;
}

.accordion-content {
    padding-bottom: 0;
}


//tables ************************************************
table {
    border: 1px solid #ddd;
    border-collapse: separate;
    font-family: Segoe UI;
    width: 100%;
}

table th {
    background: #ddd;
    border: 1px solid white;
    border-bottom: 1px solid #aaa;
    color: #333;
    font-family: $SegLight;
    font-size: rem-calc(12);
    &:hover {
        background: rgba(#007FFF, 0.1);
    }
}

tbody tr:nth-child(odd) {
    background-color: #eee;
}

tbody tr:hover {
    background: rgba(#007FFF, 0.2);
    cursor: pointer;
}

tbody td {
    border: 1px solid white;
}

//forms ***************************************************
//panel *****************************************************
.back a {
    color: white;
}

//modal ***********************************

.addModal {
    font-family: "Calibri Light";
    font-size: rem-calc(17);
    .contentModal {
    max-height:100%;
    overflow:auto;
    }
    .block-list {
    width: 100%;
    padding: 10px;
    cursor: pointer;
        li a:hover {
            background: rgba(black, 0.1);
        }
    }
}



.back {
    height: rem-calc(42);
    overflow: hidden;
    & img {
        height: 50px;
        margin-top: -3px;
    }
}

.view {
    float: right;
}

.view select {
    height: 30px;
    margin-top: 5px;
    border: 1px solid white;
    background: transparent;
    color: black;
    vertical-align: middle;
    font: normal 12px/14px "Segoe UI", Arial, Helvetica, Sans-serif;
    outline: 0 none;
    & option {
        background: #fff;
        color: #333;
    }
}

//form elements ******************************************
/* At first just some design */

form {
    margin: 20px;
}

input,
label.lb {
    font-size: 1.5em;
    font-family: "Calibri";
}

form .grid-block {
    position: relative;
    margin: 1.2em;
    margin-left: 0;
}

input {
    padding: 0.1em 0em;
    border: none;
    border-radius: 0px;
    border-bottom: 1px dotted #555;
    outline: none;
    margin: 0px;
    background: none;
    width: 100%;
}

.half input {
    width: 40%;
}
/**** HERE THE MAGIC STARTS *****/
/* Original label position: top left and small */

label.lb {
    position: absolute;
    top: -1em;
    left: 0.08em;
    color: #aaaaaa;
    z-index: -1;
    font-size: 0.85em;
    animation: float-labels 300ms none ease-out;
    -webkit-animation: float-labels 300ms none ease-out;
    /* There is a bug sometimes pausing the animation. This avoids that.*/

    animation-play-state: running !important;
    -webkit-animation-play-state: running !important;
}
/* Label highlight effect also for non-JS browsers */

input:not(.empty):focus + label {
    color: #0099ff;
}
/* In JS Browsers the .empty class is assigned to empty inputs -> label is rendered like a placeholder in the input field */

input.empty + label {
    top: 0.1em;
    font-size: 1.5em;
    animation: none;
    -webkit-animation: none;
}
/* The animation is a bit more complex than what is achievable with simple transitions, because I do not want the label to fly over my input. The place-holder label should fade out first and then appear again above the input text */

@keyframes float-labels {
    0% {
        opacity: 0;
        color: #aaa;
        top: 0.1em;
        font-size: 1.5em;
    }
    20% {
        font-size: 1.5em;
        opacity: 0;
    }
    30% {
        top: 0.1em;
    }
    50% {
        opacity: 0;
        font-size: 0.85em;
    }
    100% {
        top: -1em;
        opacity: 1;
    }
}

@-webkit-keyframes float-labels {
    0% {
        opacity: 1;
        color: #aaa;
        top: 0.1em;
        font-size: 1.5em;
    }
    20% {
        font-size: 1.5em;
        opacity: 0;
    }
    30% {
        top: 0.1em;
    }
    50% {
        opacity: 0;
        font-size: 0.85em;
    }
    100% {
        top: -1em;
        opacity: 1;
    }
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    //  padding: 0 10px;
}


//flip animation **********************************

.container {
//  width: 200px;
  height: 60vh;
  position: relative;
  perspective: 800px;
}
.fcard {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform .7s;

}
.fcard .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.fcard .front {
  margin-top: 5px;
  background: white;
//    border: 1px solid #ccc;
}
.fcard .back {
  margin-top: 5px;
background: white;
  transform: rotateY( 180deg );
-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
}

.fcard.flipped {
  transform: rotateY( 180deg );
}

//карточка *****************************************
.nomer {
    margin-top: 2rem;
    margin-bottom: 0;
}

img.edit {
    margin-left: 3rem;
    opacity: 0.3;
    a:hover & {
        opacity: 1;
    }
}

//tabs *********************************
// This is the container for your tabstrip
.custom-tabs {
    border-top: 1px solid #ccc;
    & .tab-item {
        font-family: "Calibri Light";
        background: white;
        text-transform: uppercase;
        padding: 10px 15px;
        color: #aaa;
    }
    & .tab-item.is-active {
        background: white;
        border-top: 1px solid black;
        margin-top: -1px;
        font-family: "Calibri";
        font-weight: 600;
    }
    & .tab-content {
        margin-top: 20px;
    }
}

.block {
    font-size: rem-calc(14);
    width: 100%;
}

.zag {
    font-family: "Segoe UI Semibold";
    font-size: 0.9rem;
    //    font-weight: 600;
    cursor: pointer;
    padding: 5px 5px 5px 0;
    &:hover {
        background: rgba(black, 0.05);
    }
}

.zag1 {
    font-family: "Segoe UI Semibold";
    font-size: 0.9rem;
    //    font-weight: 600;
    cursor: pointer;
    padding: 5px 5px 5px 0;
    margin-right: 50px;
    &:hover {
        background: rgba(black, 0.05);
    }
}

.light {
    font-family: "Calibri Light";
    list-style: none;
    margin: 0;
    margin-top: 10px;
    & li {
        line-height: 120%;
    }
}

//chevron *********************************
span.arrow {
    font-family: monospace;
    font-weight: 700;
    margin: 0 10px;
    font-size: rem-calc(12);
    color: #aaa;
}

.chevron::before {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 1em;
    position: relative;
    top: 0.1em;
    transform: rotate(-45deg);
    vertical-align: middle;
    width: 0.45em;
}

.chevron.right:before {
    left: 0;
    transform: rotate(45deg);
}

.chevron.bottom:before {
    top: 0;
    transform: rotate(135deg);
}

.chevron.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
}

.myPanel {
    background: #fff;
    text-align: center;
    padding: 1rem;
    & a {
        padding: 1rem;
        background: #d3d3d3;
    }
}

.report {
    border: 3px dotted #ccc;
    padding: 1rem;
    display: block;
    position: relative;
    top: -40px;
    border-radius: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    cursor: pointer;
    &:hover {
        border-color: black;
        background: #d2eab6;
        color: black;
        & img {
            opacity: 1;
        }
    }
    & img {
        opacity: 0.3;
    }
     @include breakpoint(medium down) {display: none;}
}
.upload {
    border: 3px dotted #ccc;
    padding: 1rem;
    display: block;
    position: relative;
//    top: -40px;
    border-radius: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    cursor: pointer;
    &:hover {
        border-color: black;
        background: #d2eab6;
        color: black;
        & img {
            opacity: 1;
        }
    }
    & img {
        opacity: 0.3;
    }
     @include breakpoint(medium down) {display: none;}
}

//comment *****************************************
.comment {
    font-size: rem-calc(14);
    border-bottom: 1px solid #ddd;
    margin: 5px 0;
    //    padding: 10px;
    & p {
        font-size: rem-calc(14);
        margin-bottom: rem-calc(10);
    }
    blockquote {
        padding: 3px 20px;
    }
}

.comment .fio {
    font-family: "Segoe UI Semibold";
    font-size: 0.9rem;
    & img {
        opacity: 0.4;
    }
}

.comment .time {
    font-family: "Calibri Light";
    font-style: italic;
}

textarea.grow {
    background: #eee;
    border: 1px solid #ccc;
}

@media all and (max-width: 40em) {
    .down {
        margin-top: 60px;
    }
}

.plus {
    position: absolute;
    top: 0px;
    right: 0;
    img {
        cursor: pointer;
        opacity: .3;
        display: block;
        float: right;
        margin-left: 1rem;
        &:hover {
            opacity: 1;
        }
        &.close {
            background: #ccc;
        }
    }

}

.jump {
    float: right;
    display: inline-block;
    margin-right: 2rem;
}



//.jump.ng-hide-add         {
//    -webkit-animation:0.5s disappear cubic-bezier(.69,.09,.37,1.36);
//    animation:0.5s lightSpeedOut cubic-bezier(.69,.09,.37,1.36);
//}
//
//.jump.ng-hide-remove      {
//     -webkit-animation:0.5s appear cubic-bezier(.69,.09,.37,1.36);
//     animation:0.5s flipInX cubic-bezier(.69,.09,.37,1.36);
//}



@keyframes appear{
  0% {
    opacity:0;
    transform:  translate(65px,0px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes appear{
  0% {
    opacity:0;
    -moz-transform:  translate(65px,0px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity:0;
    -webkit-transform:  translate(65px,0px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes appear {
  0% {
    opacity:0;
    -o-transform:  translate(65px,0px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes appear {
  0% {
    opacity:0;
    -ms-transform:  translate(65px,0px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}


@keyframes disappear{
  0% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0;
    transform:  translate(65px,0px)  ;
  }
}

@-moz-keyframes disappear{
  0% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0;
    -moz-transform:  translate(65px,0px)  ;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0;
    -webkit-transform:  translate(65px,0px)  ;
  }
}

@-o-keyframes disappear {
  0% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0;
    -o-transform:  translate(65px,0px)  ;
  }
}

@-ms-keyframes disappear {
  0% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0;
    -ms-transform:  translate(65px,0px)  ;
  }
}


.custom-as {
    width: 150px;
    padding: 0;
    & p {
        font-size: 0.8rem;
        color: white;
        background: #777;
        padding: 5px;
        margin-bottom: 0;
    }
    & ul, li {
        font-size: 0.8rem;
        margin: 0; padding: 0;
    }
}


.myslide {
    max-height: 999px;
    transition: all 600ms linear;
}
.myslide.ng-hide {
    max-height: 1em;
    overflow: hidden;

}

.tree, .etap {
    font-size: rem-calc(18);
    padding: 5px;
    &:hover {
        cursor: pointer;
        background: rgba(black, 0.05);
    }
}
.etap {
    margin-left: 2em;
    font-size: rem-calc(16);
}
.print {
    cursor: pointer;
    opacity: .3;
    &:hover {opacity: 1;}
}

.simple {
        font-size: rem-calc(14);
        border: 0;
        border-collapse: collapse;
        padding: 5px;
    tr:nth-child(odd){
        background: white;
    }
    tr:hover {background: #eee; cursor: auto;}
    td {
        border-top: 1px solid #ddd !important;
        border-bottom: 1px solid #ddd !important;
        vertical-align: top;
    }
}
.simple {
    th {
    background: white;
    color: white;
    padding: 3px;
    cursor: pointer;
    &:hover {
    color: #555;
    }

    }
}

.fade {
    opacity: .3;
    &:hover {opacity: 1;}
    }
.settings {
    font-family: $SegLight;
    font-size: rem-calc(14);
    display: block;
    position: fixed;
    bottom: 5px;
    left: 5px;
    img {opacity: .3}
    span {visibility: hidden;}
    &:hover{
        color: white;
        img {opacity:1;}
        span {visibility: visible;}
    }
}



.myTabSmall {
    background: white;
    padding: 1rem;
    ul {list-style: none; margin: 0;}
    li {border-bottom: 1px solid #ccc;
        &:hover {
            background: rgba(black, 0.1);
        }
    }
    a {
        display: block;
        color: #333;
        padding: 10px;
    }
}

.leftPanel {
    background: $darkblue;
    width: 250px;
    margin-bottom: -50px;
    height: 100vh;
    overflow: auto;
}




//repeat animation **************************************************

.repeat-animation {
  position:relative;
}

.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger {
  /* notice how we're using animation instead of transition here */
  -webkit-animation-delay:0.1s;
  animation-delay:0.1s;

  /* yes we still need to do this too */
  -webkit-animation-duration:0;
  animation-duration:0;
}

.repeat-animation.ng-move,
.repeat-animation.ng-enter {
  opacity:0;
  -webkit-animation:enter_animation 0.3s;
  animation:enter_animation 0.3s;
}

.repeat-animation.ng-leave {
  -webkit-animation:leave_animation 0.3s;
  animation:leave_animation 0.3s;
}

@-webkit-keyframes enter_animation {
  from { opacity:0; left: -30px;}
  to { opacity:1; left: 0;}
}

@keyframes enter_animation {
  from { opacity:0; left: -30px;}
  to { opacity:1; left: 0; }
}

@-webkit-keyframes leave_animation {
  from { opacity:1; left: 0; }
  to { opacity:0; left: -30px;}
}

@keyframes leave_animation {
  from { opacity:1; left: 0; }
  to { opacity:0; left: -30px;}
}
