---
name: Выдать задание
url: /tasks/add
par: Задания
title: Выдать задание
animationIn: zoomIn
animationOut: slideOutBottom
back: true
view: false
---

<div ng-include="'templates/partials/header.html'" class="task"></div>
<div ng-include="'templates/partials/smallbar.html'" class="show-for-medium task slide-top"></div>


<div class="grid-container task">
<br>
<h3 class="ml-20">Новое задание</h3>

<form action="" class="myForm">
    <select name="" id="">
        <option value="">Задание / Задание УД / На исполнение</option>
        <option value="">Задание / Задание УД / Согласование</option>
        <option value="">Задание / Задание УД / Задание</option>
    </select>



      <div class="grid-block">
            <input id="title1" ng-model="title1" ng-class="{'empty': !title1.length }"/>
            <label for="title1" class="lb">Название</label>
      </div>

<!--
      <div class="grid-block">
          <input id="description" ng-model="descr"  ng-class="{'empty': !descr.length }"/>
               <label for="description" class="lb">Описание</label>
      </div>
-->

      <div class="grid-block">
            <input id="comment" ng-model="comment" ng-class="{'empty': !comment.length }" ng-click="showTextArea = !showTextArea" ng-hide="showTextArea" />
                 <label for="comment" class="lb" ng-hide="showTextArea">Описание</label>

             <textarea class="msd-elastic: \n; grow" ng-model="bar" ng-show="showTextArea">
                  ...
            </textarea>

            <div ng-show="showTextArea" class="slide-down">
                <a class="button" ng-click="showTextArea = !showTextArea">Отменить</a>
                <a class="button primary" ng-click="showTextArea = !showTextArea">Добавить описание</a>
            </div>
        </div>





      <div class="grid-block">
          <div class="grid-block">
               <input id="to" ng-model="to" ng-class="{'empty': !to.length }"/>
                <label for="to" class="lb">Исполнитель</label>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class="grid-block">

              <input id="time" ng-model="time" ng-class="{'empty': !time.length }"/>
                <label for="time" class="lb">Срок</label>
          </div>
      </div>

      <div>
          <input id="file" type="checkbox" ng-model="showFile"><label for="file">Прикрепить файлы</label>
              <div ng-include="'templates/partials/add-file.html'" ng-show="showFile"></div>
      </div>
      <br>
      <input id="priem" type="checkbox" ><label for="priem">Требуется приемка</label>
      <br class="show-for-small-only">
      <br class="show-for-small-only">
      <input id="controler" type="checkbox" ng-model="showCont"><label for="controler">Назначить контролера</label>
      <br class="show-for-small-only">
      <br class="show-for-small-only">
      <div class="grid-block animate-show" ng-show="showCont">
          <div class="grid-block">
               <input id="cont" ng-model="cont" ng-class="{'empty': !cont.length }"/>
                <label for="cont" class="lb">Контролер</label>
          </div>
          &nbsp;&nbsp;&nbsp;
          <div class="grid-block">
              <input id="time1" ng-model="time1" ng-class="{'empty': !time1.length }"/>
                <label for="time1" class="lb">Срок</label>
          </div>
      </div>




      <div class="mt-30">
            <a class="button float-left" ui-sref="home">Отменить</a>
            <a class="button primary float-right" ui-sref="Задание на согласование">Старт</a>
            <a class="button float-right" >Сохранить</a>
      </div>


    </form>

</div>
