---
name: Новый документ
url: /doc/add
par: Документы
title: Новый документ
animationIn: zoomIn
back: true
view: true
---

<div ng-include="'templates/partials/header.html'" class="doc"></div>

<div class="grid-container doc">
<br>
<h3 class="ml-20">Новый документ / УД / Рабочий</h3>

<form action="" class="myForm">
    <div class="grid-block">
<!--
        <div class="grid-content">
           <select name="" id="">
                <option value="">Документ / Документ УД / Исходящий</option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
-->
<!--
        <div class="grid-content">
           <select name="" id="">
                <option value="">Шаблон</option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
-->
        <div class="small-12 medium-6 large-4">
           <select name="" id="">
                <option value="">Папка</option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>

    </div>


      <div class="grid-block">
          <input id="title1" ng-model="title1" ng-class="{'empty': !title1.length }"/>
           <label for="title1" class="lb">Название</label>
      </div>
      <div class="grid-block">
            <input id="comment" ng-model="comment" ng-class="{'empty': !comment.length }" ng-click="showTextArea = !showTextArea" ng-hide="showTextArea" />
                 <label for="comment" class="lb" ng-hide="showTextArea">Описание</label>

             <textarea class="msd-elastic: \n; grow" ng-model="bar" ng-show="showTextArea">
                  ...
            </textarea>

            <div ng-show="showTextArea" class="slide-down">
                <a class="button" ng-click="showTextArea = !showTextArea">Отменить</a>
                <a class="button primary" ng-click="showTextArea = !showTextArea">Добавить описание</a>
            </div>
    </div>

      <div class="grid-content p0" ng-init="showFile=true">
      <div ng-include="'templates/partials/add-file.html'"></div>
<!--
        <div class="upload" ng-mouseover="overDrop = true" ng-mouseleave="overDrop = false">
            <img src="../../img/attach.png" alt=""><br>
            <span ng-hide="overDrop">Добавить файл</span>
            <span ng-show="overDrop">Перетащите сюда файлы</span>
        </div>
-->
    </div>


      <div class="grid-block">
          <div class="grid-block">
          </div>
           <div class="grid-block align-right">
            <a class="button" href="#">Отменить</a>
            <a class="button primary" ui-sref="Маршрут">Сохранить</a>
          </div>
      </div>


    </form>


</div>
