---
name: Входящие
url: /docs/inbox
par: Документы
title: Входящие
list:
    - Последние
    - Входящие
    - Исходящие
    - ОРД
    - Заявки
    - Служебные записки
---

<div ng-include="'templates/partials/header.html'" class="doc slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="doc slide-top"></div>

<div class="grid-container">
   <div class="grid-content">
       <br>
        <h3>{{ vars.title }}</h3>
           <div ng-include="'templates/partials/table1.html'"></div>
                        

   
   </div>
</div>
