---
name: Служебные записки
url: /docs/notes
par: Документы
title: Служебные записки
list:
    - Последние
    - Входящие
    - Исходящие
    - ОРД
    - Заявки
    - Служебные записки
---

<div ng-include="'templates/partials/header.html'" class="doc slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="doc slide-top"></div>

<div class="grid-container">
   <div class="grid-content">
       <br>
        <h3>{{ vars.title }}</h3>
        <p>{{vars}}</p>
   </div>
</div>
