---
name: Документы
url: /docs
title: Документы
par: Главная
list:
    - Последние
    - Входящие
    - Исходящие
    - ОРД
    - Заявки
    - Служебные записки
---

<div ng-include="'templates/partials/header.html'" class="doc"></div>

    <div class="grid-container">
        <br>

    
   <div class="grid-content">
         <h3>{{ vars.title }}</h3>
        <section class="block-list">
        <ul>
            <li class="with-chevron" ng-repeat="item in vars.list"><a ui-sref="{{ item }}">{{ item }}</a>
            </li>
    
        </ul>
        </section>
    </div>
    
    
    
    </div>
    