---
name: Папка таблица
url: /folder1
par: Папки
title: Temp
view: true
filter: true
---

<div ng-include="'templates/partials/header.html'" class="folder slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="folder slide-top"></div>

<div class="grid-container">
   <div class="grid-content">
       <br>
        <h3 class="hide-for-small-only">Temp (таблица со скроллом на малых экранах)</h3>
        <div ng-include="'templates/partials/table3.html'"></div>
   </div>

</div>
