---
name: home
url: /
title: Главная
welcome: true
header: welcome
---

<div ng-include="'templates/partials/header.html'" class="{{vars.header}} slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="folder slide-top"></div>

 <div class="grid-container grid-content">
  <br>
  <br>
  <br>
  <h3 class="">Последние карточки</h3>

<div ng-include="'templates/partials/table2.html'" class="{{vars.header}} show-for-medium bouncy-slide-right"></div>





  <ul class="block-list show-for-small-only" ng-controller="DocCtrl">
      <li ng-repeat="doc in docs"><a ui-sref="На согласование">{{doc.title}}</a></li>
  </ul>
  <br><br>




  <p>Ссылка для мобильных устройств: <br>
  <img src="../img/qr-code.gif" alt="">
  </p>

  
</div>

