---
name: home
url: /
title: Главная
welcome: true
header: welcome
view: true
fixed: false
bt: false
---

<div ng-include="'templates/partials/header.html'" class="{{vars.header}} slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="folder slide-top"></div>

 <div class="grid-container grid-content">
  <br>


    <div class="grid-block hide-for-small-only">
        <div class="grid-content dash medium-3">
            <h3><a ui-sref="Входящие задания">Входящие задания <span class="badge float-right">5</span></a></h3>
            <ul class="myList">
                <li><a ui-sref="В работе">В работе</a></li>
                <li><a ui-sref="На контроле" class="bold">На контроле<span class="badge">1</span></a></li>
                <li><a ui-sref="Исполнение" class="bold">Ответств. исполнение<span class="badge">2</span></a></li>
            </ul>
        </div>
        <div class="grid-content dash  medium-3">
            <h3><a ui-sref="Исходящие задания">Исходящие задания</a></h3>
            <ul  class="myList">
                <li><a ui-sref="">Делегировано<span class="badge">3</span></a></li>
                <li><a ui-sref="">Завершено</a></li>
            </ul>
        </div>
        <div class="grid-content dash medium-3">
            <h3><a ui-sref="">Мои документы</a></h3>
            <ul  class="myList">
                <li><a ui-sref="Я - автор">Я – автор</a></li>
            </ul>
        </div>
        <div class="grid-content dash medium-3">
            <h3>Папки</h3>
            <ul  class="myList">
                <li><a ui-sref=""><img src="../img/folder-dark.png" alt="">Клиенты</a></li>
                <li><a ui-sref=""><img src="../img/folder-dark.png" alt="">Проекты</a></li>
                <li><a ui-sref=""><img src="../img/folder-dark.png" alt="">Договора</a></li>
            </ul>
                <p class="text-right">
                    <a zf-open="off-canvas-menu">Еще...</a>
                </p>
        </div>
        <div class="grid-content dash">
            <h3>Последние</h3>
            <ul  class="myList">
                <li><a href=""><img src="../img/dv.png" alt="">Ссылка на карточку 1</a></li>
                <li><a href=""><img src="../img/dv.png" alt="">Ссылка на карточку 2</a></li>
                <li><a href=""><img src="../img/dv.png" alt="">Ссылка на карточку 3</a></li>
                <li><a href=""><img src="../img/dv.png" alt="">Ссылка на карточку 4</a></li>
            </ul>
        </div>
    </div>

<!--
    <div class="grid-block" ng-controller="TreeCtrl">
        <treecontrol class="tree-classic"
          tree-model="dataForTheTree"
          options="treeOptions"
          on-selection="showSelected(node)"
          selected-node="node1">
          employee: {{node.name}} age {{node.age}}
       </treecontrol>
   </div>
-->
    

    
    
    

    <div class="grid-block vertical show-for-small-only">
        <ul class="dash1">
            <li class="green"><a ui-sref="Входящие задания">Входящие задания <span class="badge float-right">5</span></a></li>
            <li class="green"><a ui-sref="Исходящие задания">Исходящие задания</a></li>
            <li class="blue"><a ui-sref="Я - автор">Мои документы</a></li>
            <li class="dark hide-for-small-only"><a zf-open="off-canvas-menu">Папки</a></li>
        </ul>
         <br>
              <h3>Последние</h3>
                <ul class="myList">
                    <li><a href=""><img src="../img/dv.png" alt="">Ссылка на карточку 1</a></li>
                    <li><a href=""><img src="../img/dv.png" alt="">Ссылка на карточку 2</a></li>
                    <li><a href=""><img src="../img/dv.png" alt="">Ссылка на карточку 3</a></li>
                    <li><a href=""><img src="../img/dv.png" alt="">Ссылка на карточку 4</a></li>
                </ul>

    </div>
    
    <div class="absolute">
        <img src="../img/ajax-spinner-blue.gif" alt="">
    </div>
