---
name: last
url: /last
title: Последние
welcome: true
header: welcome
view: true
fixed: false
---

<div ng-include="'templates/partials/header.html'" class="{{vars.header}} slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="folder slide-top"></div>

 <div class="grid-container grid-content">
  <br>
<!--
  <div class="grid-block"  ng-controller="chartCtrl">
    <div class="grid-content text-center">
        <div easypiechart options="options" percent="68" class="chart" ui-sref="Входящие задания">
            <span class="meter">68</span><span class="alert badge">1</span>
        </div>
        <p>Входящие</p>
    </div>
    <div class="grid-content text-center">
        <div easypiechart options="options" percent="5" class="chart" ui-sref="Исполнение">
            <span class="meter">5</span>
        </div>
        <p>Документы на подпись</p>
    </div>
    <div class="grid-content text-center">
        <div easypiechart options="options" percent="17" class="chart"  ui-sref="На контроле">
            <span class="meter">17</span>
        </div>
        <p>На контроле</p>
    </div>
</div>
-->
  <h3 class="">Последние карточки</h3>

<div ng-include="'templates/partials/table3.html'" class="{{vars.header}} show-for-medium bouncy-slide-right"></div>

  <ul class="block-list show-for-small-only" ng-controller="DocCtrl">
      <li ng-repeat="doc in docs"><a ui-sref="Список">{{doc.title}}</a></li>
  </ul>
  <br>

  <p>Ссылка для мобильных устройств: <br>
  <a href="http://qrcoder.ru/code/?http%3A%2F%2Fdvdesign.docsvision.com&10&0" target="_blank"><img src="../img/qr-code1.gif" alt=""></a>
  </p>
  <a href="http://surveus.polldaddy.com/s/Оценка-прототипа-ЛК">Оценка прототипа ЛК</a>
</div>



