---
name: leftPanel
url: /fixed
title: Главная
welcome: true
header: welcome
fixed: true
view: true
---

<!--<div ng-include="'templates/partials/smallbar.html'" class="folder slide-top"></div>-->
<!--
 <div class="grid-container grid-content">
  <br>
  <br>
  <br>
  <h4>left Panel</h4>
  <p>Ссылка для мобильных устройств: <br>
  <img src="../img/qr-code.gif" alt="">
  </p>
</div>
-->
<!--left panel  *******************************************************-->
<div class="grid-block">
    <div ng-class="{'leftPanel1':vars.fixed || 'leftPanel'}">

        <div ng-include="'templates/partials/header-small.html'" class="{{vars.header}} slide-top"></div>
        <div ng-include="'templates/partials/smallbar-left.html'" class="folder slide-top"></div>
        <div ng-include="'templates/partials/navigation.html'" class="fixed"></div>
    </div>

<!--    right panel **********************************************************-->
    <div class="grid-content p0">
        <div ng-include="'templates/partials/header-middle.html'" class="{{vars.header}} slide-top"></div>
        <div ng-include="'templates/partials/smallbar.html'" class="folder slide-top"></div>

        <div class="grid-container grid-content">
          <br>
          <br>
          <br>
          <h4>Fixed left panel</h4>
          <p>Ссылка для мобильных устройств: <br>
          <a href="http://qrcoder.ru/code/?http%3A%2F%2Fdvdesign.docsvision.com&10&0" target="_blank"><img src="../img/qr-code1.gif" alt=""></a>
          </p>
        </div>

    </div>
</div>
