---
name: Задания
url: /tasks
title: Задания
par: Главная
main:
    - Документы
    - Задания
list:
    - Входящие задания
    - В работе
    - На контроле
    - Ответственное исполнение
    - Исходящие задания
    - Делегировано
    - Завершено
view: true
---

<div ng-include="'templates/partials/header.html'" class="task slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="task slide-top"></div>

    <div class="grid-container">
        <br>

    
   <div class="grid-content">
         <h3>{{ vars.title }}</h3>
        <section class="block-list dark">
        <ul>
            <li class="rel" ng-repeat="item in vars.list"><a ui-sref="{{ item }}">{{ item }}</a>
            <span class="badge">1</span>
            </li>
    
        </ul>
        
        </section>
    </div>
    

    </div>
