---
name: Согласование
url: /tasks/approve
par: Задания
title: Согласование
list:
    - Входящие задания
    - Исходящие задания
    - Согласование
    - Контроль
    - Доработка
---

<div ng-include="'templates/partials/header.html'" class="task slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="task slide-top"></div>

<div class="grid-container">
   <div class="grid-content">
       <br>
        <h3>{{ vars.title }}</h3>
        <p>{{vars}}</p>
   </div>
</div>
