---
name: Исполнение
url: /tasks/control
par: Входящие задания
title: Отв.исполнение
main:
    - Входящие задания
    - Исходящие задания
list:
    - В работе
    - На контроле
    - Исполнение
view: true
filter: true
---

<div ng-include="'templates/partials/header.html'" class="task slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="task slide-top"></div>

<div class="grid-container">
   <div class="grid-content">
       <br>
        <h3> {{ vars.title }}
            <span class="shown">показано 5 из 53</span>
            <span class="shown-small">(5/53)</span>
        </h3>
        <div ng-include="'templates/partials/table-task.html'"></div>
   </div>

</div>
