---
name: На контроле
par: Входящие задания
url: /taskcontrol
title: На контроле
main:
    - Входящие задания
    - Исходящие задания
list:
    - В работе
    - На контроле
    - Исполнение
view: true
filter: true
---

<div ng-include="'templates/partials/header.html'" class="task slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="task slide-top"></div>

<div class="grid-container">
   <div class="grid-content">
       <br>
        <h3>{{ vars.title }}</h3>
        <div ng-include="'templates/partials/table3.html'"></div>
   </div>
</div>
