---
name: Завершено
url: /tasks/completed
par: Исходящие задания
title: Завершено
main:
    - Входящие задания
    - Исходящие задания
list:
    - Делегировано
    - Завершено
view: true
---

<div ng-include="'templates/partials/header.html'" class="task slide-top"></div>
<div ng-include="'templates/partials/smallbar.html'" class="task slide-top"></div>

<div class="grid-container">
   <div class="grid-content">
       <br>
        <h3>{{ vars.title }}</h3>
        <div ng-include="'templates/partials/table-task.html'"></div>
   </div>
</div>
