<div zf-modal="addModal" id="addModal" class="addModal">
    <a zf-close="" class="close-button">×</a>
    <h3>Добавить</h3>
    <div class="grid-block">
        <div class="grid-content small-6">
            <div class="grid-block bg-green" zf-close="" ui-sref="Выдать задание">Задание</div>
            <div class="grid-block  bg-green">Группа заданий</div>
        </div>
        <div class="grid-content small-6">
            <div class="grid-block bg-blue">Файл</div>
            <div class="grid-block bg-blue">
                Документ УД:
            </div>
               <div class="grid-block sub">Входящий</div>
               <div class="grid-block sub">Исходящий</div>
               <div class="grid-block sub">Заявка</div>
               <div class="grid-block sub">ОРД</div>
               <div class="grid-block sub">Рабочий</div>
               <div class="grid-block sub">Служебная записка</div>



        </div>
    </div>


</div>
