<div zf-modal="addModal" id="addModal" class="addModal">
    <div class="contentModal">
        <a zf-close="" class="close-button">&times;</a>

        <div zf-tabs="" class="templateTab p0">
            <div zf-tab="" title="Добавить">
                        <ul class="block-list">
                            <li class="bg-green clearfix">
                                <img src="../../img/left-arrow-w.png" alt="" zf-open="addModalTask">
                                <div class="float-right" ui-sref="Выдать задание" zf-close="">Задание  / На исполнение</div>
                            </li>
                            <li class="bg-green">
                                <img src="../../img/left-arrow-w.png" alt="" class="" zf-open="addModalGroup">
                                <div class="float-right" ui-sref="Новая группа заданий" zf-close="">Группа заданий УД</div>
                           </li>
                           <li class="bg-blue">
                                <img src="../../img/left-arrow-w.png" alt="" class="" zf-open="addModalDoc">
                                <div class="float-right" ui-sref="Новый документ" zf-close="">Документ УД / Рабочий</div>
                           </li>
                        </ul>

            </div>
            <div zf-tab="" title="Создать по шаблону">
                 <ul class="block-list">
                            <li class="bg-blue">Шаблон документа №1</li>
                            <li class="bg-blue">Шаблон документа №2</li>
                            <li class="bg-blue">Шаблон документа №3</li>
                            <li class="bg-green mt-30">Шаблон задания №1</li>
                            <li class="bg-green">Шаблон группы заданий №1</li>

                        </ul>
            </div>
        </div>
    </div>
</div>

<!--Document modal  ************************************************************-->

<div zf-modal="addModalDoc" id="addModalDoc" class="addModal">
    <div class="contentModal">
        <a zf-close="" class="close-button">&times;</a>
       <h3>Документы</h3>
       <ul class="block-list">
        <li class="bg-blue" ui-sref="Новый документ" zf-close="">Документ №</li>
        <li class="bg-blue ml-20" ui-sref="Новый документ" zf-close="">Документ №</li>
        <li class="bg-blue ml-20" ui-sref="Новый документ" zf-close="">Документ №</li>
        <li class="bg-blue ml-40" ui-sref="Новый документ" zf-close="">Документ №</li>
        <li class="bg-blue" ui-sref="Новый документ" zf-close="">Документ №</li>
        <li class="bg-blue ml-20" ui-sref="Новый документ" zf-close="">Документ №</li>
        </ul>
    </div>
</div>

<!--Task modal  ******************************************************************-->

<div zf-modal="addModalTask" id="addModalTask" class="addModal tree">
    <div class="contentModal">
        <a zf-close="" class="close-button">&times;</a>
       <h3>Задания</h3>
       <ul class="block-list green">
        <li ng-click="showSub1=!showSub1">Тип задания №1</li>
        <ul class="block-list white" ng-hide="showSub1">
            <li class="ml-20" ui-sref="" zf-close="">Тип задания №</li>
            <li class="ml-20" ui-sref="" zf-close="">Тип задания №</li>
        </ul>
        <li class="ml-20" ui-sref="" zf-close="">Тип задания №</li>
        <li class="" ui-sref="" zf-close="">Тип задания №</li>
        <li class="ml-20" ui-sref="" zf-close="">Тип задания №</li>
        </ul>
    </div>
</div>


<div zf-modal="addModalGroup" id="addModalGroup" class="addModal">
    <div class="contentModal">
        <a zf-close="" class="close-button">&times;</a>
       <h3>Группа заданий</h3>
       <ul class="block-list">
            <li class="bg-green" ui-sref="Новая группа заданий" zf-close="">Группа № раз</li>
            <li class="bg-green ml-20" ui-sref="Новая группа заданий" zf-close="">Группа № раз</li>
            <li class="bg-green ml-20" ui-sref="Новая группа заданий" zf-close="">Группа № раз</li>
            <li class="bg-green" ui-sref="Новая группа заданий" zf-close="">Группа № раз</li>
        </ul>
    </div>
</div>
