<div zf-modal="addModal" id="addModal" class="addModal">
    <a zf-close="" class="close-button">&times;</a>
    <h3>Добавить</h3>
    <div class="grid-block">
        <div class="grid-content small-6">
            <div class="grid-block bg-green">Задание:</div>
                <div class="grid-block sub-g" zf-close="" ui-sref="Выдать задание"><span>На исполнение</span></div>
                <div class="grid-block sub-g"><span>На согласование</span></div>
                <div class="grid-block sub-g"><span>Задание</span></div>
            <div class="grid-block  bg-green">Группа заданий</div>
        </div>
        <div class="grid-content small-6">
            <div class="grid-block bg-blue">Файл</div>
            <div class="grid-block bg-blue">
                Документ УД:
            </div>
               <div class="grid-block sub-b"><span>Входящий</span></div>
               <div class="grid-block sub-b"><span>Исходящий</span></div>
               <div class="grid-block sub-b"><span>Заявка</span></div>
               <div class="grid-block sub-b"><span>ОРД</span></div>
               <div class="grid-block sub-b"><span>Рабочий</span></div>
               <div class="grid-block sub-b"><span>Служебная записка</span></div>
        </div>
    </div>


</div>
