<zf-panel id="buttPanel" position="right" class="myPanel">
    <div zf-close="">
      Закрыть
    </div>
    <br><br><br><br>
    <h5>Примите решение</h5>
    <br>
    <a class="decision" href="#">Согласовать</a>
     <a class="decision" href="#">Отклонить</a>
     <br>
     <a class="decision" href="#">Делегировать</a>
     <a class="decision" href="#">Согласовать с замечаниями</a>
     <a class="decision" href="#">Отозвать</a>
     <a class="decision" href="#">Удалить</a>
     <a class="decision" href="#">Сообщить о проблеме</a>
     <a class="decision" href="#">Подумать</a>
     <a class="decision" href="#">Решение</a>
</zf-panel>
