<zf-panel id="buttPanel" position="right" class="myPanel">
    <a zf-close="" class="close-button">×</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h5>Примите решение</h5>
        <div ng-repeat="button in vars.buttons">
            <a class="decision" zf-close="">{{button}}</a>
        </div>
        <a href="" class="decision" ng-show="isFlipped">Отправить</a>

        <br>
            <a class="decision" zf-close="">Прикрепить отчет</a>
            <a class="decision primary" zf-close="">Согласовать</a>
             <a class="decision reject" zf-close="">Отклонить</a>
        <br>
        <br>
        <br>

             <a class="decision" zf-close="">Делегировать</a>
             <a class="decision" zf-close="">Согласовать с замечаниями</a>
             <a class="decision" zf-close="">Отозвать</a>
             <a class="decision" zf-close="">Удалить</a>
             <a class="decision" zf-close="">Сообщить о проблеме</a>

</zf-panel>
