

<div class="grid-block">
    <div class="grid-content small-12 medium-9 large-10">

      <a href="" class="dotted" ng-click="showComment = !showComment">7 комментариев</a>
          <span class="arrow" ng-hide="showComment">&or;</span>
          <span class="arrow" ng-show="showComment">&and;</span>
<br><br>
<!--
        <div class="comment grid-block" ng-repeat="i in [0,1,2,3]" ng-hide="showComment">
            <div class="grid-content medium-12 large-4 fio nowrap"><img src="../../img/user16.png" alt="" class="user">&nbsp;Константинопольский И.</div>
            <div class="grid-content medium-12 large-8">
                <div class="time">13 августа 20:43</div>
                <p>Адаптация создает позитивизм. Ощущение мира, по определению, осмысляет конфликт. Язык образов прост.</p>
            </div>
        </div>
-->

        <div class="comment grid-block" ng-repeat="i in [0,1,2,3,4,5,6] | limitTo:3">
            <div class="grid-content medium-12 large-4 fio nowrap"><img src="../../img/user16.png" alt="" class="user">&nbsp;Константинопольский И.</div>
            <div class="grid-content medium-12 large-8">
                <div class="time">13 августа 20:43</div>
                <p>Адаптация создает позитивизм. Ощущение мира, по определению, осмысляет конфликт. Язык образов прост.</p>
            </div>
        </div>

        <div class="grid-block small-12">
            <input id="comment" ng-model="comment" ng-class="{'empty': !comment.length }" ng-click="showTextArea = !showTextArea" ng-hide="showTextArea" />
                 <label for="comment" class="lb" ng-hide="showTextArea">Комментировать</label>

             <textarea class="msd-elastic: \n; grow" ng-model="bar" ng-show="showTextArea">
                  ...
            </textarea>

            <div ng-show="showTextArea" class="slide-down">
                <a href="" class="button" ng-click="showTextArea = !showTextArea">Отмена</a>
                <a href="" class="button primary">Отправить</a>
            </div>
        </div>




    </div>



       <div class="grid-content p0 small-12 medium-3 large-2 down">
        <div class="report" ng-mouseover="overDrop == true" ng-mouseleave="overDrop == false">
               <img src="../../img/attach.png" alt=""><br>
            <span ng-hide="overDrop">Прикрепить отчет</span>
            <span ng-show="overDrop">Перетащите сюда файлы</span>
        </div>
        <a class="decision primary" href="#">Согласовать</a>
        <a class="decision" href="#">Отклонить</a>
        <a class="decision more" zf-toggle="buttPanel">...</a>

    </div>
</div>

