<div zf-modal="" id="signModal">
    <a zf-close="" class="close-button">×</a>
    <h3>Список подписей</h3>
<!--    <p>Нет электронно-цифровых подписей для основных файлов</p>-->
    
    <table>
        <tbody>
            <tr class="table-header">
                <th></th>
                <th>ФИО подписанта</th>
                <th>Метка</th>
                <th>Дата</th>
                <th>Результат проверки</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Гордеева А.</td>
                <td></td>
                <td>15.08.2015</td>
                <td>Верно</td>
            </tr>
            <tr>
                <td colspan=5><strong>Состав подписи</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td colspan="2">Исходящее письмо.doc</td>
                <td>15.08.2015</td>
                <td>Верно</td>
            </tr>
        </tbody>
    </table>
    <br><br>
     
    <div class="text-right">
        <a zf-close="" class="button">Закрыть</a>
<!--        <a zf-close="" class="button bg-green">Отправить</a>-->
    </div>
</div>
