<div zf-modal="" id="signModal1">
    <a zf-close="" class="close-button">×</a>
    <h3>Электронная подпись</h3>
    <p>Выберите метку для подписи:
     
      <select name="" id="">
          <option value="">Подписать без метки</option>
          <option value="">Семен Семенович</option>
          <option value="">Барак Хусейнович</option>
          <option value="">Моя метка</option>
      </select>
     </p>
      <br> 
    <div class="text-right">
        <a zf-close="" class="button">Отмена</a>
        <a zf-close="" class="button bg-green">Подписать</a>
    </div>
</div>
