
<div ng-include="'templates/partials/ecp.html'"></div>
<div ng-include="'templates/partials/ecp1.html'"></div>

<div class="rel">
    <div class="zag medium-size" ng-click="hideFile = !hideFile;">
        <span  ng-hide="showSubMenu">Файлы (3)</span>
        <span class="arrow" ng-hide="hideFile || showSubMenu">&and;</span>
        <span ng-hide="!hideFile || showSubMenu" class="arrow">&or;</span>
    </div>
    <div class="plus">
        <img src="../../img/plus-dark.png" alt="" ng-hide="showSubMenu" ng-click="showSubMenu = !showSubMenu" tooltips tooltip-title="Добавить файлы">
        <img src="../../img/close-dark.png" alt="" class="close"  ng-show="showSubMenu" ng-click="showSubMenu = !showSubMenu">
        <div ng-show="showSubMenu" class="jump slide-right">
            <a href="">+ Основной файл</a>
            <a href="" class="ml-20">+ Дополнительный файл</a>
        </div>
    </div>
    <div class="ecp" ng-hide="showSubMenu" ng-click="showSign = !showSign"  tooltips tooltip-title="Электронная подпись">
        <img src="../../img/ecp.png" alt="">
        <div ng-show="showSign" class="jump slide-right">
            <a zf-open="signModal1">Подписать</a>
            <a zf-open="signModal" class="ml-20">Проверить подпись</a>
        </div>
    </div>


       <div ng-controller="FileCtrl">
           <div slide-toggle="!hideFile" >
               <table class="simple">
                <tbody>
                  <tr class="table-header">
                      <th ng-click="orderByField='img'; reverseSort = !reverseSort">вид</th>
                      <th ng-click="orderByField='name'; reverseSort = !reverseSort">имя</th>
                      <th ng-click="orderByField='type'; reverseSort = !reverseSort">версия</th>
                      <th></th>
                  </tr>
                  <tr ng-repeat-start="file in files | orderBy:orderByField:reverseSort" class="repeat-animation">
                      <td class="narrow"><img ng-src="{{file.img}}" tooltips tooltip-title="Основной"></td>
                      <td><img src="../../img/word-sm.png" alt="">&nbsp;&nbsp;<a href="">{{file.name}}</a></td>
                      <td class="pointer narrow" ng-click="version=!version">
                          <a href="">{{file.type}}</a>
                        </td>
                      <td class="narrow">
                            <div class="rel">
                                <a ng-click="showKebab = !showKebab"><img src="../../img/kebab.png" alt="" class="fade"></a>
                                
                                <div class="subMenu myslide" ng-show="showKebab">
                                    <ul>
<!--                                        <li><a ng-click="showKebab=false">Просмотреть</a></li>-->
<!--                                        <li><a ng-click="showKebab=false">Проверить ЭЦП</a></li>-->
<!--                                        <li><a ng-click="showKebab=false">Подписать</a></li>-->
                                        <li><a ng-click="showKebab=false">Комментировать</a></li>
                                        <li><a ng-click="showKebab=false">Блокировать</a></li>
                                        <li><a ng-click="showKebab=false">Скачать версию</a></li>
                                        <li><a ng-click="showKebab=false">Добавить версию</a></li>
                                        <li><a ng-click="showKebab=false">Удалить</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            
                      </td>
                  </tr>
                  <tr ng-repeat-end ng-show="version" class="transparent">
                      <td colspan="4">
                      <table class="no-border">
                          <tr>
                              <td><a href="">v.1.0</a></td>
                              <td>Гордеева</td>
                              <td>15.08.2015</td>
                              <td><a href="" tooltips tooltip-title="Комментировать"><img src="../../img/comment.png" alt=""></a></td>
                            <td><a href="" class="fade" tooltips tooltip-title="Скачать"><img src="../../img/download.png" alt=""></a></td>
                          </tr>
                          <tr>
                              <td><a href="">v.1.1</a></td>
                              <td>Гордеева</td>
                              <td>18.08.2015</td>
                              <td><a href="" tooltips tooltip-title="Комментировать"><img src="../../img/comment.png" alt=""></a></td>
                            <td><a href="" class="fade" tooltips tooltip-title="Скачать"><img src="../../img/download.png" alt=""></a></td>
                          </tr>
                      </table>
                      </td>
                  </tr>

                </tbody>
              </table>
           </div>
       </div>
            <br><br>
</div>



        <div class="rel">
            <div class="zag medium-size" ng-click="hideFile1 = !hideFile1;">
                <span  ng-hide="showSubMenu1">Ссылки (3)</span>
                <span class="arrow" ng-hide="hideFile1">&and;</span>
                <span ng-hide="!hideFile1" class="arrow">&or;</span>
            </div>
            <div class="plus">
            <img src="../../img/plus-dark.png" alt="" ng-hide="showSubMenu1" ng-click="showSubMenu1 = !showSubMenu1">
            <img src="../../img/close-dark.png" alt="" class="close"  ng-show="showSubMenu1" ng-click="showSubMenu1 = !showSubMenu1">
            <div ng-show="showSubMenu1" class="jump slide-right">
                <div zf-action-sheet="">
                    <div zf-as-button="">
                        <img src="../../img/url.png" alt="">
                    </div>
                    <div zf-as-content="" position="bottom" class="custom-as">
                    <p>Прикрепить URL</p>
                    <ul>
                    <li zf-as-button=""><a href="#" >Дополнение</a></li>
                    <li zf-as-button=""><a href="#" >Ссылается на</a></li>
                    <li zf-as-button=""><a href="#" >Связано с</a></li>
                    </ul>
                    </div>
                </div>
                <div zf-action-sheet="" >
                    <div zf-as-button="">
                        <img src="../../img/link-attach.png" alt="">
                    </div>
                    <div zf-as-content="" position="bottom" class="custom-as">
                    <p>Прикрепить файл</p>
                    <ul>
                    <li zf-as-button=""><a href="#" >Основной документ</a></li>
                    <li zf-as-button=""><a href="#" >Дополнение</a></li>
                    <li zf-as-button=""><a href="#" >Отчет</a></li>
                    </ul>
                    </div>
                </div>
                <div zf-action-sheet="" >
                    <div zf-as-button="">
                        <img src="../../img/link.png" alt="">
                    </div>
                    <div zf-as-content="" position="bottom" class="custom-as">
                    <p>Прикрепить ссылку</p>
                    <ul>
                    <li zf-as-button=""><a href="#" >Отчет</a></li>
                    <li zf-as-button=""><a href="#" >Дополнение</a></li>
                    <li zf-as-button=""><a href="#" >Ссылается на</a></li>
                    <li zf-as-button=""><a href="#" >В ответ на</a></li>
                    </ul>
                    </div>
                </div>
                <div zf-action-sheet="" >
                    <div zf-as-button="">
                        <img src="../../img/add-link.png" alt="">
                    </div>
                    <div zf-as-content="" position="bottom" class="custom-as">
                    <p>Создать</p>
                    <ul>
                    <li zf-as-button=""><a href="#" >Отчет</a></li>
                    <li zf-as-button=""><a href="#" >Дополнение</a></li>
                    <li zf-as-button=""><a href="#" >Ссылается на</a></li>
                    <li zf-as-button=""><a href="#" >В ответ на</a></li>
                    </ul>
                    </div>
                </div>

            </div>
        </div>


               <div ng-controller="FileCtrl">
                   <div slide-toggle="!hideFile1" >
                       <table class="simple">
                        <tbody>
                          <tr class="table-header">
                              <th ng-click="orderByField='img'; reverseSort = !reverseSort">вид</th>
                              <th ng-click="orderByField='name'; reverseSort = !reverseSort">имя</th>
                              <th ng-click="orderByField='type'; reverseSort = !reverseSort">тип</th>
                              <th></th>
                          </tr>
                          <tr ng-repeat="file in files | orderBy:orderByField:reverseSort" class="repeat-animation">
                              <td><img ng-src="{{file.img}}" class="fade"></td>
                              <td><a href="">{{file.name}}</a></td>
                              <td class="italic">{{file.type}}</td>
                              <td class="text-right">
                                    <a href=""><img src="../../img/info-black.png" alt="" class="fade"></a>
                                        &nbsp;&nbsp;
                                    <a href=""><img src="../../img/kebab.png" alt="" class="fade"></a>
                              </td>
                          </tr>

                        </tbody>
                      </table>
                   </div>
               </div>
            <br><br>
        </div>





</div>

