<footer>
    <div class="grid-block" ng-controller="TimeCtrl">
        <div class="grid-block show-for-medium">Компания "Доксвижн"</div>
        <div class="grid-block">Пользователь: Волков А.</div>
        <div class="grid-block show-for-medium">{{date | date:'dd MMM yyyy'}}</div>
        <div class="grid-block show-for-large">Large screen</div>
        <div class="grid-block show-for-medium-only">Medium screen</div>
        <div class="grid-block show-for-small-only">Small screen</div>
    </div>

</footer>
