<div class="grid-block header">
    <div class="grid-block shrink"><a href="" zf-toggle="off-canvas-menu"><img src="img/hm.png" alt="">
        </a></div>
    <div class="main-nav" ng-show="{{vars.welcome}}" ng-controller="TimeCtrl">
        Доксвижн: {{date | date:'dd MMM yyyy'}}
    </div>
    <div class="grid-block shrink  main-nav" ng-hide="{{vars.welcome}}">
        <zf-action-sheet>
            <zf-as-button ng-hide="showSearch">
                <a href="">{{vars.par}}</a>
            </zf-as-button>
            <zf-as-content position="bottom">
                <ul>
                    <li><a ui-sref="Задания">Задания</a></li>
                    <li><a ui-sref="Документы">Мои документы</a></li>
                    <li><a ui-sref="Папки">Папки</a></li>
                </ul>
             </zf-as-content>
        </zf-action-sheet>
    </div>
    <div class="grid-block shrink  main-nav" ng-hide="{{vars.welcome}}"><span ng-hide="showSearch">&nbsp;&nbsp;&gt;&nbsp;</span></div>
    <div class="grid-block shrink  main-nav" ng-hide="{{vars.welcome}}">
        <zf-action-sheet>
            <zf-as-button>
                <a href="">{{vars.title}}</a>
            </zf-as-button>
            <zf-as-content position="bottom">
                <ul>
                    <li ng-repeat="item in vars.list"><a ui-sref="{{ item }}">{{ item }}</a></li>
                </ul>
            </zf-as-content>
        </zf-action-sheet>
    </div>
    <div class="grid-block" ng-show="{{vars.back}}"></div>
    <div class="grid-block align-right main-nav" ng-hide="{{vars.back}}">
        <a ng-click="showSearch = !showSearch;">
            <img src="img/search-w.png" alt=""  ng-hide="{{vars.back}}"></a>
            <input type="text" class="search" ng-show="showSearch" placeholder="Search in current view" ng-model="query">
    </div>
    <div class="grid-block shrink main-nav hide-for-small-only"><a href="#"><img src="img/user.png" alt=""></a></div>
    <div class="grid-block shrink main-nav hide-for-small-only"><a href="#"><img src="img/help.png" alt=""></a></div>
</div>

<section class="small-bar" ng-hide="{{vars.welcome}}">
    <ul>
        <li class="back" ng-show="{{vars.back}}"><a href=""><img src="../../img/back.png" alt="">Назад</a></li>
        <li class="add">
            <a href="#" zf-open="addModal"><img src="img/plus.png" alt="">&nbsp;&nbsp;Добавить</a>
        </li>
        <li ng-hide="{{vars.back}}">
            <a href="#"><img src="img/filter.png" alt="">&nbsp;&nbsp;Фильтр</a>
        </li>
    </ul>
    <ul class="view" ng-show="{{vars.view}}">
        <li>Вид:&nbsp;&nbsp;</li>
        <li>
            <select name="viewDropdown" id="">
                <option value="">УД Входящие</option>
                <option value="">Bacon Pancakes</option>
                <option value="">Mountain Dew</option>
                <option value="">mozzarella</option>
            </select>
        </li>
        <li>&nbsp;&nbsp;&nbsp;</li>
    </ul>
</section>
