<div class="grid-block header">
    <div class="grid-block shrink"><a zf-toggle="off-canvas-menu"><img src="img/hm.png" alt="">
        </a></div>

    <div class="main-nav" ng-show={{vars.welcome}}>
        <span ng-hide="showSearch">Docsvision</span>
    </div>
    <div class="main-nav show-for-medium" ng-show={{vars.welcome}} ng-controller="TimeCtrl">
        <span ng-hide="showSearch">{{date | date:'dd MMM yyyy'}}</span>
    </div>
<!--
    <div class="grid-block shrink  main-nav" ng-hide="{{vars.welcome}}">
        <zf-action-sheet>
            <zf-as-button ng-hide="showSearch" class="hide-for-small-only">
                <a href="">{{vars.par}}</a>
            </zf-as-button>
            <zf-as-content position="bottom">
                <ul>
                   <li ng-repeat="item in vars.main"><a ui-sref="{{ item }}">{{ item }}</a></li>
                </ul>
             </zf-as-content>
        </zf-action-sheet>
    </div>
-->
<!--    <div class="grid-block shrink  main-nav hide-for-small-only" ng-hide="{{vars.welcome}}"><span ng-hide="showSearch">&gt;</span></div>-->
    <div class="shrink  main-nav" ng-hide="{{vars.welcome}}">
        <span ng-hide="showSearch">{{vars.name}}</span>
<!--
        <zf-action-sheet>
            <zf-as-button class="hide-for-small-only">
                <a href="">{{vars.name}}</a>
            </zf-as-button>
            <zf-as-button class="show-for-small-only">
                <a href="">{{vars.title}}</a>
            </zf-as-button>
            <zf-as-content position="bottom">
                <ul>
                    <li ng-repeat="item in vars.list"><a ui-sref="{{ item }}">{{ item }}</a></li>
                </ul>
            </zf-as-content>
        </zf-action-sheet>
-->
    </div>
    <div class="grid-block" ng-show="{{vars.back}}"></div>
    <div class="grid-block align-right main-nav" ng-hide="{{vars.back}}">
        <a ng-click="showSearch = !showSearch;">
            <img src="img/search-w.png" alt=""  ng-hide="{{vars.back}}"></a>
            <input type="text" autofocus class="search rel" ng-show="showSearch" placeholder="Search in current view" ng-model="query">
                <img src="../../img/close-dark.png" class="search-close" alt="" ng-show="query.length">
            </input>
    </div>
    <div class="grid-block shrink main-nav user"><a><img src="img/user.png" alt=""></a></div>
    <div class="grid-block shrink main-nav help"><a><img src="img/help.png" alt=""></a></div>

<!--button panel for small screen *******************************************    -->
    <div class="grid-block shrink main-nav show-for-small-only btbt" ng-if="bt"><a zf-open="buttPanel">&rsaquo;</a></div>
<!--    <div class="grid-block shrink main-nav show-for-small-only"><a zf-open="buttPanel"><img src="../../img/kebab-w.png" alt=""></a></div>-->
</div>







<!--
<section class="small-bar" ng-hide="{{vars.welcome}}">
    <ul>
        <li class="back" ng-show="{{vars.back}}"><a href=""><img src="../../img/back.png" alt="">Назад</a></li>
        <li class="add">
            <a href="#" zf-open="addModal"><img src="img/plus.png" alt="">&nbsp;&nbsp;Добавить</a>
        </li>
        <li ng-hide="{{vars.back}}">
            <a href="#"><img src="img/filter.png" alt="">&nbsp;&nbsp;Фильтр</a>
        </li>
    </ul>
    <ul class="view" ng-show="{{vars.view}}">
        <li>Вид:&nbsp;&nbsp;</li>
        <li>
            <select name="viewDropdown" id="">
                <option value="">УД Входящие</option>
                <option value="">Bacon Pancakes</option>
                <option value="">Mountain Dew</option>
                <option value="">mozzarella</option>
            </select>
        </li>
        <li>&nbsp;&nbsp;&nbsp;</li>
    </ul>
</section>
-->
