<section class="container">
  <div class="fcard" ng-class="{'flipped':isFlipped}">
<!--    front face  ********************************-->
    <div class="face front">
      <div class="grid-block">
           <div class="grid-block medium-12 large-3 small-order-3 medium-order-3 large-order-1">

            <div class="grid-block">
                <div class="zag" slide-toggle="#attr1" ng-click="hideAttr = !hideAttr;">Атрибуты<span class="arrow" ng-show="hideAttr">&and;</span><span ng-show="!hideAttr" class="arrow">&or;</span></div>
                <ul id="attr1" class="light slideable">
                    <li>Номер: ОРГ-3</li>
                    <li>Вид: ОРД</li>

                    <li class="mt-10">Автор: Константинопольский К.</li>
                    <li>Исполнитель: Пуцин С.</li>

                    <li class="mt-10">Создан: 23.10.2015</li>
                </ul>
                <br>
            </div>
        </div>
        <div class="grid-content medium-9  large-7 small-order-2 medium-order-1 large-order-2">
            <div class="zag medium-size" ng-click="hideDescription = !hideDescription;">Описание<span class="arrow" ng-show="!hideDescription">&and;</span><span ng-show="hideDescription" class="arrow">&or;</span></div>
                <div class="myslide" ng-hide="hideDescription">
                    <p class="medium-size">
                        Если принять во внимание огромный вес Гималайев, разлом драгирован. Извержение, так как не наследует древние поднятия, подпитывает ийолит-уртит.                 </p>
                </div>

            <div ng-include="'templates/partials/files.html'"></div>

               <div>
            </div>

        </div>
    <!--button panel *******************************************-->

        <div class="grid-content p0 medium-3 large-2 small-order-1 medium-order-2 large-order-3">
            <a class="decision primary" href="#" ng-click="isFlipped=!isFlipped">На согласование</a>
            <a class="decision" href="#">Кнопка</a>
            <a class="decision more" zf-toggle="buttPanel">...</a>
        </div>
    </div>
    </div>




<!--    back face  ********************************-->
    <div class="face back">
        <h5>Настройка маршрута</h5>
    </div>
  </div>
</section>
  <br><br>
