            <div class="back clearfix" ng-hide="{{vars.fixed}}">
                        <div class="float-left">
                            <a href="#" zf-close="off-canvas-menu"><img src="img/close.png" alt=""></a>
                        </div>
                        <div class="close float-right hide-for-small-only">
                            <a ui-sref="leftPanel" zf-close="off-canvas-menu"><img src="img/pin.png" alt=""></a>
                        </div>
            </div>

            <ul class="side-links">
                        <li><a ui-sref="home" zf-close="off-canvas-menu">
                        <img src="img/home.png" alt="">
                        &nbsp;&nbsp;Главная</a></li>
                </ul>


            <zf-accordion auto-open="false" collapsible="true" multi-open="true">

                <zf-accordion-item title="Мои задания">
                    <ul class="block-list">
                        <li><a ui-sref="Входящие задания" zf-close="off-canvas-menu">Входящие</a><span class="badge">1</span></li>
                                <li class="pad-l"><a ui-sref="В работе" zf-close="off-canvas-menu" class="active">В работе</a></li>
                                <li class="pad-l"><a ui-sref="На контроле" zf-close="off-canvas-menu">На контроле</a></li>
                                <li class="pad-l"><a ui-sref="Исполнение" zf-close="off-canvas-menu">Ответственное исполнение</a></li>

                        <li><a ui-sref="Исходящие задания" zf-close="off-canvas-menu">Исходящие</a></li>
                            <li class="pad-l"><a ui-sref="Делегировано" zf-close="off-canvas-menu">Делегировано</a><span class=" badge">1</span></li>
                            <li class="pad-l"><a  ui-sref="Завершено" zf-close="off-canvas-menu">Завершено</a></li>
                    </ul>
                </zf-accordion-item>
                <zf-accordion-item title="Мои документы">
                    <ul class="block-list accordion">
                        <li><a ui-sref="Я - автор">Я – автор</a></li>
                    </ul>
                </zf-accordion-item>
                <zf-accordion-item title="Папки">
                    <ul class="block-list">
                        <li>
                          <a ui-sref="Папка">
                           <span zf-open="panel1" class="mr-10"><img src="img/folder-w.png" alt=""></span>
                            Распоряжения
                            </a>
                        </li>
                            <div zf-panel="" id="panel1">
                                <div class="back">
                                    <a zf-close=""><img src="img/back.png" alt="">
                                      <img src="img/folder-w-open.png" alt="" class="folder">
                                       Распоряжения
                                    </a>
                                </div>
                                <ul class="block-list m0 p0">
                                    <li>
                                        <a ui-sref="Папка">
                                            <span zf-open="panel2" class="mr-10"><img src="img/folder-w.png" alt=""></span>
                                            Важные распоряжения</a></li>
                                    <li>
                                       <a ui-sref="Папка">
                                           <span zf-open="panel2" class="mr-10"><img src="img/folder-w.png" alt=""></span>
                                           Обычные распоряжения</a></li>
                                        <div zf-panel="" id="panel2">
                                            <div class="back">
                                                <a href="#" zf-close=""><img src="img/back.png" alt="">
                                                <img src="img/folder-w-open.png" alt="" class="folder">
                                                Обычные разобычные распоряжения
                                                </a>
                                            </div>
                                             <ul class="block-list m0 p0">
                                              <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;folder 1</a></li>
                                              <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;folder 2</a></li>
                                              <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;folder 3</a></li>
                                              <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;folder 4</a></li>
                                              <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;folder 5</a></li>
                                          </ul>
                                        </div>
                                    <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;Неважные распоряжения</a></li>
                                </ul>
                            </div>
                        <li><a ui-sref="Папка таблица">
                           <span zf-open="panel1" class="mr-10"><img src="img/folder-w.png" alt=""></span>
                            Temp</a>
                        </li>
                        <li><a ui-sref="Папка">
                           <span zf-open="panel1" class="mr-10"><img src="img/folder-w.png" alt=""></span>
                            ОРД Доксвижн</a></li>
                        <li><a ui-sref="Папка">
                            <span zf-open="panel1" class="mr-10"><img src="img/folder-w.png" alt=""></span>
                            My folder</a></li>
                    </ul>
                </zf-accordion-item>
            </zf-accordion>
            <ul class="side-links">
<!--
                        <li><a ui-sref="home" zf-close="off-canvas-menu">
                        <img src="img/history.png" alt="">
                        &nbsp;&nbsp;Последние</a></li>
-->
                        <li><a href="">
                        <img src="img/search-w.png" alt="">
<!--                        <img src="img/search-b.png" alt="" ng-show="{{vars.fixed}}">-->
                        &nbsp;&nbsp;Поиск</a></li>


                </ul>
            <br>
            <ul class="side-links show-for-small-only">
                <li><br><br></li>
                <li>
                    <a href="#"><img src="img/user.png" alt="">&nbsp;Профиль</a>
                </li>
                <li>
                    <a href="#"><img src="img/help.png" alt="">&nbsp;Справка</a>
                </li>
            </ul>
<!--
            <a class="settings">
                <img src="img/gear-white.png" alt="">&nbsp;
                <span>Настроить панель</span>
            </a>
-->
