            <div class="back clearfix" ng-hide="{{vars.fixed}}">
                        <div class="float-left">
                            <a href="#" zf-close="off-canvas-menu"><img src="img/close.png" alt=""></a>
                        </div>
                        <div class="close float-right hide-for-small-only">
                            <a ui-sref="leftPanel" zf-close="off-canvas-menu"><img src="img/pin.png" alt=""></a>
                        </div>
            </div>

                <ul class="side-links">
                    <li><a ui-sref="home" zf-close="off-canvas-menu">
                        <img src="img/history.png" alt="" ng-hide="{{vars.fixed}}">
                        <img src="img/history-b.png" alt="" ng-show="{{vars.fixed}}">
                        &nbsp;&nbsp;Последние</a></li>
                    <li><a href="">
                        <img src="img/search-w.png" alt="" ng-hide="{{vars.fixed}}">
                        <img src="img/search-b.png" alt="" ng-show="{{vars.fixed}}">
                        &nbsp;&nbsp;Поиск</a></li>
                </ul>

            <zf-accordion auto-open="false" collapsible="true" multi-open="true">

                <zf-accordion-item title="Задания">
                    <ul class="block-list">
                        <li><a ui-sref="Входящие задания" zf-close="off-canvas-menu">Входящие</a><span class="alert badge">1</span></li>
                                <li class="pad-l italic"><a ui-sref="В работе" zf-close="off-canvas-menu">В работе</a></li>
                                <li class="pad-l italic"><a ui-sref="На контроле" zf-close="off-canvas-menu">На контроле</a></li>
                                <li class="pad-l italic"><a ui-sref="Исполнение" zf-close="off-canvas-menu">Ответственное исполнение</a></li>

                        <li><a ui-sref="Исходящие задания" zf-close="off-canvas-menu">Исходящие</a></li>
                            <li class="pad-l italic"><a ui-sref="Делегировано" zf-close="off-canvas-menu">Делегировано</a><span class=" badge">1</span></li>
                            <li class="pad-l italic"><a  ui-sref="Завершено" zf-close="off-canvas-menu">Завершено</a></li>
                    </ul>
                </zf-accordion-item>
                <zf-accordion-item title="Документы">
                    <ul class="block-list accordion">
                        <li><a ui-sref="Последние" zf-close="off-canvas-menu">Последние</a></li>
                        <li><a ui-sref="Входящие" zf-close="off-canvas-menu">Входящие</a></li>
                        <li><a ui-sref="Исходящие" zf-close="off-canvas-menu">Исходящие</a></li>
                        <li><a ui-sref="ОРД" zf-close="off-canvas-menu">ОРД</a></li>
                        <li><a ui-sref="Заявки" zf-close="off-canvas-menu">Заявки</a></li>
                        <li><a ui-sref="Служебные записки" zf-close="off-canvas-menu">Служебные записки</a></li>
                    </ul>
                </zf-accordion-item>
                <zf-accordion-item title="Папки">
                    <ul class="block-list">
                        <li class="with-chevron"><a zf-open="panel1">
                                   <img src="img/folder-dark.png" alt="" ng-show="{{vars.fixed}}">
                                   <img src="img/folder-w.png" alt="" ng-hide="{{vars.fixed}}">
                                    &nbsp;&nbsp;Распоряжения</a></li>
                            <div zf-panel="" id="panel1">
                                <div class="back">
                                    <a href="#" zf-close=""><img src="img/back.png" alt="">
                                       Распоряжения
                                    </a>
                                </div>
                                <ul class="block-list m0 p0">
                                    <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;Важные распоряжения</a></li>
                                    <li class="with-chevron"><a zf-open="panel2"><img src="img/folder-w.png" alt="">&nbsp;&nbsp;Обычные разобычные распоряжения</a></li>
                                        <div zf-panel="" id="panel2">
                                            <div class="back">
                                                <a href="#" zf-close=""><img src="img/back.png" alt="">Обычные разобычные распоряжения
                                                </a>
                                            </div>
                                             <ul class="block-list m0 p0">
                                              <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;folder 1</a></li>
                                              <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;folder 2</a></li>
                                              <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;folder 3</a></li>
                                              <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;folder 4</a></li>
                                              <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;folder 5</a></li>
                                          </ul>
                                        </div>
                                    <li><a href=""><img src="img/folder-w.png" alt="">&nbsp;&nbsp;Неважные распоряжения</a></li>
                                </ul>
                            </div>
                        <li><a ui-sref="">
                            <img src="img/folder-dark.png" alt="" ng-show="{{vars.fixed}}">
                           <img src="img/folder-w.png" alt="" ng-hide="{{vars.fixed}}">
                            &nbsp;&nbsp;Temp</a></li>
                        <li><a ui-sref="">
                            <img src="img/folder-dark.png" alt="" ng-show="{{vars.fixed}}">
                           <img src="img/folder-w.png" alt="" ng-hide="{{vars.fixed}}">
                            &nbsp;&nbsp;ОРД Доксвижн</a></li>
                        <li><a ui-sref="">
                            <img src="img/folder-dark.png" alt="" ng-show="{{vars.fixed}}">
                               <img src="img/folder-w.png" alt="" ng-hide="{{vars.fixed}}">
                            &nbsp;&nbsp;My folder</a></li>
                    </ul>
                </zf-accordion-item>
            </zf-accordion>
            <br>
            <ul class="side-links show-for-small-only">
                <li><br><br></li>
                <li>
                    <a href="#"><img src="img/user.png" alt="">&nbsp;Профиль</a>
                </li>
                <li>
                    <a href="#"><img src="img/help.png" alt="">&nbsp;Справка</a>
                </li>
            </ul>
<!--
            <a class="settings">
                <img src="img/gear-white.png" alt="">&nbsp;
                <span>Настроить панель</span>
            </a>
-->
