<section class="small-bar">

    <div class="grid-block imgTab">
        <div class="grid-content text-center" ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)"><img src="../../img/main.png" alt=""></a></div>
<!--        <div class="grid-content text-center"  ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)"><img src="../../img/comments.png" alt=""></a></div>-->
        <div class="grid-content text-center" ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)"><img src="../../img/approve.png" alt=""></a></div>
<!--        <div class="grid-content text-center" ng-class="{active:tab.isSet(4)}"><a href ng-click="tab.setTab(4)"><img src="../../img/tree.png" alt=""></a></div>-->
        <div class="grid-content text-center" zf-toggle="topbar"><img src="../../img/kebab-w.png" alt=""></div>
    </div>


</section>
