<div ng-controller="TaskCtrl">
    <div class="table-container task hide-for-small-only">
        <table>
            <tbody>
                <tr class="table-header">
                    <th class="first"></th>
                    <th ng-click="orderByField='title'; reverseSort = !reverseSort">
                        Тема
                        <span ng-show="orderByField == 'title'" class="float-right"><span ng-show="!reverseSort">&or;</span><span ng-show="reverseSort">&and;</span></span>
                    </th>
                    <th ng-click="orderByField='state'; reverseSort = !reverseSort">
                        Состояние&nbsp;
                        <span ng-show="orderByField == 'state'" class="float-right"><span ng-show="!reverseSort">&or;</span><span ng-show="reverseSort">&and;</span></span>
                    </th>
                    <th ng-click="orderByField='from'; reverseSort = !reverseSort">
                        Отправитель
                        <span ng-show="orderByField == 'from'" class="float-right"><span ng-show="!reverseSort">&or;</span><span ng-show="reverseSort">&and;</span></span>
                    </th>
                    <th ng-click="orderByField='to'; reverseSort = !reverseSort">
                        Исполнитель
                        <span ng-show="orderByField == 'to'" class="float-right"><span ng-show="!reverseSort">&or;</span><span ng-show="reverseSort">&and;</span></span>
                    </th>
                    <th ng-click="orderByField='deadline'; reverseSort = !reverseSort">
                        Срок исполнения
                        <span ng-show="orderByField == 'deadline'" class="float-right"><span ng-show="!reverseSort">&or;</span><span ng-show="reverseSort">&and;</span></span>
                    </th>
                </tr>
                <tr ng-repeat-start="task in tasks | orderBy:orderByField:reverseSort | filter:{name:query1}" 
                   class="repeat-animation">
                    <td class="first" ng-class="class" ng-click="changeClass()"></td>
                    <td ng-click="showRow = !showRow"><a ui-sref="Список">{{task.title}}</a></td>
                    <td ng-click="showRow = !showRow">{{task.state}}</td>
                    <td class="nowrap" ng-click="showRow = !showRow">{{task.from}}</td>
                    <td class="nowrap" ng-click="showRow = !showRow">{{task.to}}</td>
                    <td class="nowrap" ng-click="showRow = !showRow">{{task.deadline}}</td>
                </tr>
                <tr ng-repeat-end  ng-show="showRow">
                    <td colspan="8" class="showRow">
                           
                           <div class="grid-block">
                                <div class="grid-content shrink">
                                   Название: <br>
                                   Автор:<br>
                                   Исполнитель:  <br>
                                   Срок:
                               </div>
                               <div class="grid-content">
                                   Подготовить презентацию для нового партнера <br>
                                   Пуцин С. <br>
                                   Курманова А. <br>
                                   25.08.2015
                               </div>
                               <div class="grid-content medium-2">
                                    <br><br>
                                    <a zf-open="addModal" class="dotted">+ Создать задание</a>
                               </div>
                           </div>
                           
                           
                           <br><br>
                           <div class="grid-block">
                                <div class="grid-content">
                                    <a class="decision">Перейти</a>
                                </div>
                                <div class="grid-content">
                                    <a class="decision">Отклонить</a>
                                </div>
                                <div class="grid-content">
                                    <a class="decision">Отозвать</a>
                                </div>
                                <div class="grid-content">
                                    <a class="decision">Делегировать</a>
                                </div>
                                <div class="grid-content">
                                   <a class="decision primary">Завершить</a>
                                </div>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="show-for-small-only p0 m0">
        <div ng-repeat-start="task in tasks" 
           class="digest">
                <div class="grid-block" ng-click="showSubRow = !showSubRow">
                    <div class="readd" ng-class="class" ng-click="changeClass()"></div>
                    <div class="float-left">
                        <div class=" title">
                            <a ui-sref="Список">{{task.title}}</a>
                        </div>
                        <div class=" name">От: {{task.from}}</div>
                        <div class="time">Срок: {{task.deadline}}</div>
                    </div>
                </div>
        </div>
        <div ng-repeat-end class="subrow" ng-show="showSubRow">
            
           <div class="grid-block small-bt">
                    <a class="decision">Перейти</a>
                    <a class="decision">Отклонить</a>
                    <a class="decision">Отозвать</a>
                    <a class="decision">Делегировать</a>
                   <a class="decision primary">Завершить</a>
           </div>
            
        </div>
    </div>
    
    <div class="grid-block align-right">
            <a class="morelist">Еще...</a>
            <a class="morelist">Показать все (53)</a>
    </div>
<br><br>
    <a ui-sref="Задание" class="fade">(Задание на исполнение)</a> <br><br>
    <a ui-sref="Задание на согласование" class="fade">(Задание на согласование)</a> <br><br>
    <a ui-sref="Задание на консолидацию" class="fade">(Задание на консолидацию)</a>

</div>




<!--<input type="text" ng-model="query1">-->
