<table class="responsive">
    <tbody>
        <tr class="table-header">
            <th>Состояние&nbsp;<img src="img/sort-down.png" alt="">
            </th>
            <th>Отправитель
            </th>
            <th>Создано
            </th>
            <th>Изменено
            </th>
            <th>Регистратор
            </th>
            <th>Номер
            </th>
            <th>Тема
            </th>
        </tr>
        <tr>
            <td>Подготовка</td>
            <td>Пуцин С.</td>
            <td>09.10.2014 7:15</td>
            <td>09.10.2014 7:15</td>
            <td>Петров Г.</td>
            <td>Вх-3</td>
            <td>Извещение о выселении
            </td>
        </tr>
        <tr>
            <td>Подготовка</td>
            <td>Волков А.</td>
            <td>09.10.2014 7:15</td>
            <td>09.10.2014 7:15</td>
            <td>Петров Г.</td>
            <td>Вх-3</td>
            <td>Приказ
            </td>
        </tr>
        <tr>
            <td>Подготовка</td>
            <td>Смирнов В.</td>
            <td>09.10.2014 7:15</td>
            <td>09.10.2014 7:15</td>
            <td>Петров Г.</td>
            <td>Вх-3</td>
            <td>Письмо из исполкома
            </td>
        </tr>
        <tr>
            <td>Подготовка</td>
            <td>Пуцин С.</td>
            <td>09.10.2014 7:15</td>
            <td>09.10.2014 7:15</td>
            <td>Петров Г.</td>
            <td>Вх-3</td>
            <td>Ознакомьтесь с презентацией
            </td>
        </tr>
    </tbody>
</table>