<table class="responsive" ng-controller="DocCtrl">
    <tbody>
        <tr class="table-header">
            <th ng-click="orderByField='title'; reverseSort = !reverseSort">
                Карточка
                <span ng-show="orderByField == 'title'" class="float-right"><span ng-show="!reverseSort">&or;</span><span ng-show="reverseSort">&and;</span></span>
            </th>
            <th ng-click="orderByField='name'; reverseSort = !reverseSort">
                Исполнитель
                <span ng-show="orderByField == 'name'" class="float-right"><span ng-show="!reverseSort">&or;</span><span ng-show="reverseSort">&and;</span></span>
            </th>
            <th ng-click="orderByField='modified'; reverseSort = !reverseSort">
                Дата
                <span ng-show="orderByField == 'modified'" class="float-right"><span ng-show="!reverseSort">&or;</span><span ng-show="reverseSort">&and;</span></span>
            </th>
        </tr>
        <tr ng-repeat="doc in docs | orderBy:orderByField:reverseSort | filter:{name:query1}" class="repeat-animation" ng-click="showRow = !showRow;">
            <td><a ui-sref="Список">{{doc.title}}</a>
            <div ng-show="showRow" class="cssSlideUp attr">
                Вид: ОРД <br>
                Номер: Вх-1234 <br>
                Автор: Иванов И. <br>
                Создано: 23.10.2015
            </div>
            </td>
            <td>{{doc.name}}</td>
            <td>{{doc.modified}}</td>

        </tr>
    </tbody>
</table>
 <div class="grid-block align-center ">
    <a class="more">Load more...</a>
</div>
