<table class="responsive" role="grid">
    <tbody>
        <tr class="table-header">
            <th>Тема&nbsp;<img src="img/sort-down.png" alt="">
            </th>
            <th>Номер
            </th>
            <th>Состояние
            </th>
            <th>Отправитель
            </th>
            <th>Создано
            </th>
            <th>Изменено
            </th>
            <th>Регистратор
            </th>
        </tr>
        <tr>
            <td>Извещение о выселении без предупреждения о выселении
            </td>
            <td>Вх-3</td>
            <td>Подготовка</td>
            <td>Пуцин С.</td>
            <td>09.10.2014 7:15</td>
            <td>09.10.2014 7:15</td>
            <td>Петров Г.</td>
        </tr>
        <tr>
            <td>Приказ
            </td>
            <td>Вх-3</td>
            <td>Подготовка</td>
            <td>Волков А.</td>
            <td>09.10.2014 7:15</td>
            <td>09.10.2014 7:15</td>
            <td>Петров Г.</td>
        </tr>
        <tr>
            <td>Письмо из исполкома письмо из исполкома письмо из исполкома
            </td>
            <td>Вх-3</td>
            <td>Подготовка</td>
            <td>Смирнов В.</td>
            <td>09.10.2014 7:15</td>
            <td>09.10.2014 7:15</td>
            <td>Петров Г.</td>
        </tr>
        <tr>
            <td>Ознакомьтесь с презентацией очень длинный текст
            </td>
            <td>Вх-3</td>
            <td>Подготовка</td>
            <td>Пуцин С.</td>
            <td>09.10.2014 7:15</td>
            <td>09.10.2014 7:15</td>
            <td>Петров Г.</td>
        </tr>
    </tbody>
</table>